{% load i18n %}
{% load tags_active %}
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <!-- <a href="{% url 'create' host_id %}" class="btn btn-sm btn-success pull-right">{% trans "New Instance" %}</a> -->
            <h1><a href="{% url 'overview' host_id %}">{{ compute.name }}</a></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="sidebar col-xs-12 col-sm-3">
        <div class="panel-group" id="accordion">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hostcollapse">
                            <b> Host </b>
                        </a>
                    </h4>
                </div>
                <div id="hostcollapse" class="panel-collapse collapse in">
                    <div>
                        <ul>
                            <li>
                                <a href="{% url 'overview' host_id %}"
                                   class="list {% active request "^/host" %}">{% trans "Overview" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'interfaces' host_id %}"
                                   class="list {% active request "^/interface" %}">{% trans "Interfaces" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'upgrade' host_id %}"
                                   class="list {% active request "^/upgrade" %}">{% trans "Upgrade" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'reboot' host_id %}"
                                   class="list {% active request "^/reboot" %}">{% trans "Reboot" %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#computecollapse">
                            <b> VMs </b>
                        </a>
                    </h4>
                </div>
                <div id="computecollapse" class="panel-collapse collapse in">
                    <div>
                        <ul>
                            <li>
                                <a href="{% url 'instances' host_id %}"
                                   class="list {% active request "^/instance" %}">{% trans "Instances" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'storages' host_id %}"
                                   class="list {% active request "^/storage" %}">{% trans "Storages" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'networks' host_id %}"
                                   class="list {% active request "^/network" %}">{% trans "Networks" %}</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


